* {
    font-family: 'Karla', sans-serif;
}

body {
    width: 50%;
    margin: auto;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

#tasks {
    display: flex;
    flex-direction: column;
}

.taskRow {
    display: flex;
    flex-direction: row;
}

.taskRow > * {
    margin-left: 10px;
}

.taskRow > *:nth-child(3) {
    flex-grow: 10;
}

.subtasks {
    margin-left: 30px;
}